{
  "LO A": [
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    }
  ],
  "LO B": [
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    }
  ],
  "Tune": [
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    },
    {
      "label": "",
      "freq": 0.0
    }
  ]
}